html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 14rem;
  grid-template-areas:
    "header header"
    "main side"
}

header {
  /* Remove the <header> box and allow us to directly apply header’s children to the grid. */
  display: contents;
}

main {
  display: contents;
}

.pano {
  grid-area: header;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

main:first-child {
  grid-area: side;
}

main:nth-child(2)-child {
  grid-area: main;
}
