html {
  box-sizing: border-box;
  background-color: #f2f1ed;
  font-family: Georgia, serif;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

body {
  margin: 0;
  display: grid;
  gap: 1rem;
  padding: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-template-rows: 1fr 9rem;
  grid-template-areas: "header header";
}

header {
  /* Remove the <header> box and allow us to directly apply header’s children to the grid. */
  display: contents;
}

.pano {
  grid-area: header;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

nav {
  grid-column: 2;
  grid-row: 1;
  z-index: 1;
}

nav ul {
  display: flex;
  list-style-type: none;
  font-size: 2rem;
  text-decoration: underline white;
  font-family: "Patua One", sans-serif;
  margin: 1rem;
  padding-right: 2rem;
}

.logo {
  grid-column: 1;
  grid-row: 2;
  z-index: 1;
  max-width: 15rem;
  padding: 1rem;
}

main {
  display: contents;
}

figure {
  margin: 0;
  padding: 0;
}

figcaption h2 {
  color: #30658d;
  font-family: "Patua One", sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
  margin: 1rem;
}
